* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

a:hover {
  text-decoration: none;
  color: unset;
}

ul {
  margin-bottom: unset;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

p {
  margin-bottom: unset;
}

.container {
  max-width: 100%;
  padding: 0 25px;
}

.btn-primary-cus, .btn-primary-cus-revert {
  position: relative;
  background-color: #F8B653;
  color: #fff;
  border: 1px solid #F8B653;
  transition: all 0.3s ease;
  z-index: 1;
}
.btn-primary-cus::before, .btn-primary-cus-revert::before {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100%;
  height: 0;
  transition: all 0.3s ease;
}
.btn-primary-cus:hover, .btn-primary-cus-revert:hover {
  color: #F8B653;
}
.btn-primary-cus:hover::before, .btn-primary-cus-revert:hover::before {
  height: 100%;
}

.btn-primary-cus-revert {
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
}
.btn-primary-cus-revert::before {
  background-color: #F8B653;
}
.btn-primary-cus-revert:hover {
  color: #fff !important;
}

header .login-bar {
  padding: 10px 25px;
  background-color: #000;
}
header .login-bar .right-wrap .cart {
  margin-right: 0.5rem;
}
header .login-bar .right-wrap .cart span {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  line-height: 1;
}
header .login-bar .right-wrap a {
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  margin-right: 1.5rem;
}
@media (max-width: 768px) {
  header .login-bar .right-wrap a {
    margin-right: 0.5rem;
  }
}
header .navbar {
  padding: 0 25px;
}
header .navbar #navbarNavAltMarkup .navbar-nav .nav-link {
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  line-height: 1;
  padding: 15px 0;
  margin-left: 1.5rem;
}
header .navbar #navbarNavAltMarkup .navbar-nav .nav-link:first-child {
  margin: 0;
}
header .navbar #navbarNavAltMarkup .navbar-nav .nav-link.active {
  border-bottom: 1px solid #000;
  color: #000;
}

footer .bg-wrap {
  padding: 2rem 0;
}
footer .bg-wrap:last-child {
  background-color: #ececec;
}
@media (max-width: 768px) {
  footer .bg-wrap .container .row .col-item {
    margin-bottom: 1.5rem;
  }
}
footer .bg-wrap .container .row .col-item .col-content {
  position: relative;
}
footer .bg-wrap .container .row .col-item .col-content::before {
  content: "";
  position: absolute;
  border-radius: 50px;
  border: 1px solid #e2e2e2;
  height: 100%;
  top: 0;
  left: -25px;
}
footer .bg-wrap .container .row .col-item .col-content h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
}
footer .bg-wrap .container .row .col-item .col-content .tags-list {
  padding-bottom: 1rem;
}
@media (max-width: 768px) {
  footer .bg-wrap .container .row .col-item .col-content .tags-list {
    padding-bottom: 0;
  }
}
footer .bg-wrap .container .row .col-item .col-content .tags-list .tag {
  line-height: 1;
  margin: 0.3rem 0;
}
footer .bg-wrap .container .row .col-item .col-content .tags-list .tag:first-child {
  margin-top: 0;
}
footer .bg-wrap .container .row .col-item .col-content .tags-list .tag a {
  font-size: 0.9rem;
  font-weight: 400;
  color: #000;
}
@media (max-width: 768px) {
  footer .bg-wrap .container .row .col-item .col-content .tags-list .tag a {
    margin: 0.5rem 0;
  }
}
footer .bg-wrap .container .row .col-item .col-content p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 0.25em;
}
footer .bg-wrap .container .row .col-item .col-content .footer-link {
  font-size: 0.9rem;
  font-weight: 400;
  color: #d46661;
  transition: all 0.3s ease;
}
footer .bg-wrap .container .row .col-item .col-content .footer-link:hover {
  color: #c43a33;
}

.carousel .carousel-inner .carousel-item .slide-wrap {
  position: relative;
  max-height: 500px;
  padding: 0 0 6rem;
}
@media (max-width: 768px) {
  .carousel .carousel-inner .carousel-item .slide-wrap .slide-content {
    flex-flow: column;
  }
}
.carousel .carousel-inner .carousel-item .slide-wrap .slide-content .slide-left {
  width: 70%;
  padding-left: 86px;
}
@media (max-width: 768px) {
  .carousel .carousel-inner .carousel-item .slide-wrap .slide-content .slide-left {
    padding-left: 0;
  }
}
.carousel .carousel-inner .carousel-item .slide-wrap .slide-content .slide-left .img-product img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.carousel .carousel-inner .carousel-item .slide-wrap .slide-content .slide-right {
  flex: 1;
}
.carousel .carousel-inner .carousel-item .slide-wrap .slide-content .slide-right .product-detail h3 {
  font-size: 40px;
  font-weight: 400;
  color: #000;
  margin-bottom: 0;
}
.carousel .carousel-inner .carousel-item .slide-wrap .slide-content .slide-right .product-detail p {
  line-height: 1;
  font-size: 20px;
  font-weight: 300;
  color: #000;
  margin-bottom: 30px;
}
.carousel .carousel-inner .carousel-item .slide-wrap .slide-content .slide-right .product-detail .btn-primary-cus, .carousel .carousel-inner .carousel-item .slide-wrap .slide-content .slide-right .product-detail .btn-primary-cus-revert {
  padding: 13px 35px;
}
.carousel .carousel-inner .carousel-item .slide-wrap .slide-content .slide-right .product-detail .btn-primary-cus span, .carousel .carousel-inner .carousel-item .slide-wrap .slide-content .slide-right .product-detail .btn-primary-cus-revert span {
  font-size: 20px;
}
.carousel .carousel-inner .carousel-item .slide-wrap .bottom-slide-cover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.carousel .carousel-inner .carousel-item .slide-wrap .bottom-slide-cover img {
  width: 100%;
  object-fit: cover;
}
.feature {
  padding: 3rem 0;
}
.feature .container .section-title {
  text-align: center;
  margin-bottom: 5.5rem;
}
.feature .container .products-list .row .col-item {
  margin-bottom: 3rem;
  padding: 0 2rem;
}
.feature .container .products-list .row .col-item .product-card {
  background-color: #f8f8f8;
  margin: 0 1.5rem;
}
.feature .container .products-list .row .col-item .product-card .card-img {
  text-align: center;
}
.feature .container .products-list .row .col-item .product-card .card-img img {
  object-fit: cover;
}
.feature .container .products-list .row .col-item .product-card .card-body {
  padding: 30px;
  line-height: 1;
}
.feature .container .products-list .row .col-item .product-card .card-body h3 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #000;
  margin-bottom: 0.5rem;
}
.feature .container .products-list .row .col-item .product-card .card-body p {
  font-size: 20px;
  font-weight: 300;
  color: #CBC9C9;
  margin-bottom: 0.9rem;
}
.feature .container .products-list .row .col-item .product-card .card-body .price-wrap {
  background-color: #ececec;
}
.feature .container .products-list .row .col-item .product-card .card-body .price-wrap .btn-primary-cus, .feature .container .products-list .row .col-item .product-card .card-body .price-wrap .btn-primary-cus-revert {
  padding: 18px 35px;
}
@media (max-width: 576px) {
  .feature .container .products-list .row .col-item .product-card .card-body .price-wrap .btn-primary-cus, .feature .container .products-list .row .col-item .product-card .card-body .price-wrap .btn-primary-cus-revert {
    padding: 1em 1.5em;
  }
}
.feature .container .products-list .row .col-item .product-card .card-body .price-wrap .price {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  text-align: center;
  flex: 1;
}